<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <meta
    http-equiv="X-UA-Compatible"
    content="ie=edge"
  >
  <meta
    name="description"
    content="Zajmuję się tworzeniem nowoczesnych stron internetowych. Poznaj mnie i moje umiejętności. Zobacz stworzone przeze mnie projekty."
  >
  <meta
    name="keywords"
    content="CV,Curriculum vitae,Front-end developer,HTML,CSS,JavaScript"
  >
  <meta
    name="author"
    content="Maciej Wójcik"
  >
  <link
    rel="icon"
    href="<%= BASE_URL %>favicon.ico"
  >
  <meta
    name="google-site-verification"
    content="Mfmsri-NuIY-pklgzJuD53yIJG1D-5Ht5X7yNdMTupM"
  />
  <title>Maciej Wójcik - Front-end developer</title>
  <!-- Google fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800&amp;subset=latin-ext"
    rel="stylesheet"
  >
  <!-- Open Graph -->
  <meta
    property="og:url"
    content="https://mawoo.pl/"
  />
  <meta
    property="og:type"
    content="website"
  />
  <meta
    property="og:title"
    content="Maciej Wójcik - Front-end developer"
  />
  <meta
    property="og:description"
    content="Zajmuję się tworzeniem nowoczesnych stron internetowych. Poznaj mnie i moje umiejętności. Zobacz stworzone przeze mnie projekty."
  />
  <meta
    property="og:image"
    content="http://mawoo.pl/img/icons/open-graph_256.png"
  />
  <meta
    property="og:image:secure_url"
    content="https://mawoo.pl/img/icons/open-graph_256.png"
  />
  <meta
    property="og:image:type"
    content="image/png"
  />
  <meta
    property="og:image:width"
    content="256"
  />
  <meta
    property="og:image:height"
    content="256"
  />
</head>

<body>
  <noscript>
    Do pełnej funkcjonalności strony potrzebujesz włączonej obsługi skryptów. Tu znajdziesz
    <a
      href="https://www.enable-javascript.com/pl/"
      target="_blank"
    >
      instrukcje, które pozwolą Ci włączyć skrypty w Twojej przeglądarce</a>.
  </noscript>
  <app></app>
  <!-- built files will be auto injected -->

  <!-- reCAPTCHA v2 -->
  <script
    src="https://www.google.com/recaptcha/api.js?onload=initRecaptcha&render=explicit"
    async
    defer
  >
  </script>
</body>

</html>
