<template>
  <section
    id="about"
    v-bind:class="['app__component', { 'app__component_active': isComponentActive }]"
  >
    <article class="article about">
      <article-header-component :article="article"></article-header-component>
      <div class="article__row">
        <div class="article__description">
          <p>Cześć! Mam na imię Maciej, mam {{ age }} lat. Zajmuję się tworzeniem nowoczesnych stron internetowych na podstawie
            technologii
            <abbr title="HyperText Markup Language">
              <b>HTML</b>
            </abbr>,
            <abbr title="Cascading Style Sheets">
              <b>CSS</b>
            </abbr> i
            <abbr title="JavaScript">
              <b>JS</b>
            </abbr>.</p>
          <p>Z powyższymi technologiami zetknąłem się już wiele lat temu. Będąc operatorem sklepu internetowego, wykonywałem
            drobne modyfikacje warstwy strukturalnej i prezentacji stron. Chęć wdrażania ciekawych rozwiązań, stykanie się
            z przeróżnymi problemami, potrzeba zrozumienia, dlaczego tak się dzieje, powodowała, że apetyt na poznawanie
            technologii i programowanie aplikacji rósł.</p>
          <p>Karierę zawodową związaną z „frontendem” rozpocząłem ponad 4 lata temu. Samodzielne stanowisko pozwoliło mi na
            realizację wielu ciekawych projektów jak: współtworzenie sklepów internetowych, tworzenie stron typu OnePage,
            tworzenie szablonów dla systemu zarządzania treścią WordPress i wiele innych.</p>
          <p>Obecnie, poszukuję nowych wyzwań.</p>
          <div class="button-group button-group_left button-group_margin-top">
            <a
              class="button button_primary"
              href="/doc/maciej-wojcik-curriculum-vitae.pdf"
              download
            >Pobierz CV</a>
          </div>
          <!-- /.button-group -->
        </div>
        <div
          class="article__image about__image"
          :style="{ height: aboutImage.height + 'px' }"
        >
          <img
            v-for="(item, key) in image"
            :src="item.src"
            :key="key"
            :alt="item.alt"
            class="about__image-item"
            :data-image-id="key"
            ref="aboutImage"
          >
        </div>
      </div>
    </article>
  </section>
</template>

<script>
/* import { mapGetters } from 'vuex' */
import ArticleHeaderComponent from "../components/ArticleHeaderComponent";

// Images
import books from "../assets/img/about-component/books.svg";
import chair from "../assets/img/about-component/chair.svg";
import clock from "../assets/img/about-component/clock.svg";
import desk from "../assets/img/about-component/desk.svg";
import deskLamp from "../assets/img/about-component/desk-lamp.svg";
import floor from "../assets/img/about-component/floor.svg";
import monitor from "../assets/img/about-component/monitor.svg";
import trash from "../assets/img/about-component/trash.svg";
import windows from "../assets/img/about-component/windows.svg";

export default {
  components: {
    ArticleHeaderComponent
  },

  name: "AboutComponent",

  data() {
    return {
      article: {
        title: "O mnie"
      },

      image: [
        {
          src: books,
          alt: "Książki"
        },
        {
          src: chair,
          alt: "Krzesło"
        },
        {
          src: clock,
          alt: "Zegar"
        },
        {
          src: deskLamp,
          alt: "Lampka na biurko"
        },
        {
          src: desk,
          alt: "Biurko"
        },
        {
          src: floor,
          alt: "Podłoga"
        },
        {
          src: monitor,
          alt: "Monitor"
        },
        {
          src: trash,
          alt: "Kosz"
        },
        {
          src: windows,
          alt: "Okna"
        }
      ],

      aboutImage: {
        height: ""
      }
    };
  },

  computed: {
    /* ...mapGetters({
      screenType: 'screen/getType'
    }), */

    isComponentActive() {
      if (this.$route.name === "about") {
        return true;
      } else {
        return false;
      }
    },

    age() {
      var date = new Date();
      var year = date.getFullYear();
      const yearOfBirth = 1981;

      return year - yearOfBirth;
    }
  },

  methods: {
    setAboutImageHeight() {
      this.aboutImage.height = this.$refs.aboutImage[0].clientHeight;
    }
  },

  mounted() {
    // Add events
    window.addEventListener("load", this.setAboutImageHeight, false);

    window.addEventListener("resize", this.setAboutImageHeight, false);
  }
};
</script>

<style lang="scss">
/* Styles */
@import "../assets/scss/styles.scss";

.about {
  &__image {
    margin-bottom: 2rem;
    overflow: hidden;
    position: relative;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
    &-item {
      top: 0;
      left: 0;
      position: absolute;
      right: 0;
      transition-duration: 0.8s;
      transition-property: transform;
      transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
      z-index: 5;

      // Books
      &[data-image-id="0"] {
        transform: translate(0%, 0%) scale(0);
        .app__component_active & {
          transition-delay: 2.3s;
        }
      }

      // Chair
      &[data-image-id="1"] {
        transform: translateX(100%);
        z-index: 4;
        .app__component_active & {
          transition-delay: 1.5s;
        }
      }

      // Clock
      &[data-image-id="2"] {
        transform: translate(0%, 0%) scale(0);
        .app__component_active & {
          transition-delay: 2.2s;
        }
      }

      // Desk lamp
      &[data-image-id="3"] {
        transform: translate(0%, 0%) scale(0);
        .app__component_active & {
          transition-delay: 2.1s;
        }
      }

      // Desk
      &[data-image-id="4"] {
        transform: translateX(100%);
        z-index: 1;
        .app__component_active & {
          transition-delay: 0.5s;
        }
      }

      // Floor
      &[data-image-id="5"] {
        transform: translateX(-100%);
        z-index: 0;
        .app__component_active & {
          transition-delay: 0.5s;
        }
      }

      // Monitor
      &[data-image-id="6"] {
        transform: translate(0%, 0%) scale(0);
        z-index: 3;
        .app__component_active & {
          transition-delay: 2.4s;
        }
      }

      // Trash
      &[data-image-id="7"] {
        transform: translate(0%, 0%) scale(0);
        .app__component_active & {
          transition-delay: 2s;
        }
      }

      // Windows
      &[data-image-id="8"] {
        transform: translate(0%, -100%);
        z-index: 2;
        .app__component_active & {
          transition-delay: 1s;
        }
      }
      .app__component_active & {
        transform: translate(0%, 0%) scale(1);
      }
    }
  }
}
</style>
