<template>
  <section
    id="portfolio-projects"
    ref="portfolioProjects"
    v-bind:class="['app__component', { 'app__component_active': isComponentActive }]"
  >
    <article class="article">
      <article-header-component :article="article"></article-header-component>
      <div class="projects">
        <div class="projects__header">
          <div class="projects__category">
            <button
              :class="['projects__view-button', { 'projects__view-button_active' : header.icons.category.isActive }]"
              :style="{ 'background-image': 'url(' + header.icons.category.url + ')' }"
              title="Wybierz kategorię"
              aria-label="Wybierz kategorię"
            ></button>
            <!-- /.projects__view-button -->
          </div>
          <!-- /.projects__category -->
          <div class="projects__search">
            <input
              v-model="search"
              class="projects__search-input"
              id="search"
              maxlength="16"
              name="search"
              placeholder="Szukana fraza..."
              type="text"
            >
          </div>
          <!-- /.projects_search -->
          <div class="projects__view">
            <button
              @click="setViewForThumbnail($event)"
              data-thumbnail-view="desktop"
              :class="['projects__view-button', { 'projects__view-button_active' : header.icons.desktop.isActive }]"
              :style="{ 'background-image': 'url(' + header.icons.desktop.url + ')' }"
              title="Widok desktop"
              aria-label="Widok desktop"
            ></button>
            <!-- /.projects__view-button -->
            <button
              @click="setViewForThumbnail($event)"
              data-thumbnail-view="mobile"
              :class="['projects__view-button', { 'projects__view-button_active' : header.icons.mobile.isActive }]"
              :style="{ 'background-image': 'url(' + header.icons.mobile.url + ')' }"
              title="Widok mobile"
              aria-label="Widok mobile"
            ></button>
            <!-- /.projects__view-button -->
            <button
              @click="setViewForLayout($event)"
              data-layout-view="grid"
              :class="['projects__view-button', { 'projects__view-button_active' : header.icons.grid.isActive }]"
              :style="{ 'background-image': 'url(' + header.icons.grid.url + ')' }"
              title="Widok siatki"
              aria-label="Widok siatki"
            ></button>
            <!-- /.projects__view-button -->
            <button
              @click="setViewForLayout($event)"
              data-layout-view="listing"
              :class="['projects__view-button', { 'projects__view-button_active' : header.icons.listing.isActive }]"
              :style="{ 'background-image': 'url(' + header.icons.listing.url + ')' }"
              title="Widok listy"
              aria-label="Widok listy"
            ></button>
            <!-- /.projects__view-button -->
          </div>
          <!-- /.projects__view -->
        </div>
        <!-- /.projects__header -->
        <ul :class="['projects__items projects__items_' + viewSettings.layout]">
          <li
            v-if="item.visibility"
            v-for="(item, index) in projects"
            :key="index"
            class="projects__column"
          >
            <div class="projects__item">
              <div class="projects__item-image">
                <lazy-loading-images-component
                  :item="item"
                  :viewSettings="viewSettings"
                  :isComponentActive="isComponentActive"
                  :scrollEventTimeStamp="scrollEventTimeStamp"
                ></lazy-loading-images-component>
              </div>
              <!-- /.projects__item-image -->
              <div class="projects__item-description">
                <h3 class="projects__item-title">{{ item.title }}</h3>
                <!-- /.projects__item-title -->
                <p class="projects__item-about">{{ item.about }}</p>
                <!-- /.projects__item-about -->
                <p class="projects__item-scope">
                  <span>Zakres prac: </span>{{ item.scopeOfWork }}</p>
                <!-- /.projects__item-scope -->
                <div class="projects__item-technology">
                  <img
                    v-for="(technologyItem, technologyIndex) in item.technology"
                    :key="technologyIndex"
                    v-if="technologyItem.isActive"
                    :src="technologyItem.src"
                    :alt="technologyItem.name"
                    :title="technologyItem.name"
                  >
                </div>
                <!-- /.projects__item-technology -->
              </div>
              <!-- /.projects__item-description -->
            </div>
            <!-- /.projects__item -->
          </li>
          <!-- /.projects__col -->
        </ul>
        <!-- /.projects__items -->
        <div
          v-if="nothingFound"
          class="alert alert_danger"
        >Podana fraza
          <b>"{{ search }}"</b> nie została odnaleziona.</div>
        <!-- /.alert alert__danger -->
      </div>
      <!-- /.projects -->
    </article>
  </section>
</template>

<script>
import ArticleHeaderComponent from "../components/ArticleHeaderComponent";
import LazyLoadingImagesComponent from "../components/LazyLoadingImagesComponent";

// Images
import aimeizPlDesktop from "../assets/img/portfolio-projects-component/aimeiz.pl-desktop.jpg";
import aimeizPlMobile from "../assets/img/portfolio-projects-component/aimeiz.pl-mobile.jpg";
import breathalyzersShopCoUkDesktop from "../assets/img/portfolio-projects-component/breathalyzers-shop.co.uk-desktop.jpg";
import breathalyzersShopCoUkMobile from "../assets/img/portfolio-projects-component/breathalyzers-shop.co.uk-mobile.jpg";
import forestAnimalsDesktop from "../assets/img/portfolio-projects-component/forest-animals-desktop.jpg";
import forestAnimalsMobile from "../assets/img/portfolio-projects-component/forest-animals-mobile.jpg";
import fotopulapka24PlDesktop from "../assets/img/portfolio-projects-component/fotopulapka24.pl-desktop.jpg";
import fotopulapka24PlMobile from "../assets/img/portfolio-projects-component/fotopulapka24.pl-mobile.jpg";
import gpsDoRoweruSklepPlDesktop from "../assets/img/portfolio-projects-component/gps-do-roweru.sklep.pl-desktop.jpg";
import gpsDoRoweruSklepPlMobile from "../assets/img/portfolio-projects-component/gps-do-roweru.sklep.pl-mobile.jpg";
import kalibracjaAlkomatuPlDesktop from "../assets/img/portfolio-projects-component/kalibracja-alkomatu.pl-desktop.jpg";
import kalibracjaAlkomatuPlMobile from "../assets/img/portfolio-projects-component/kalibracja-alkomatu.pl-mobile.jpg";
import laserDetectCoUkDesktop from "../assets/img/portfolio-projects-component/laser-detect.co.uk-desktop.jpg";
import laserDetectCoUkMobile from "../assets/img/portfolio-projects-component/laser-detect.co.uk-mobile.jpg";
import legalnaBronPlDesktop from "../assets/img/portfolio-projects-component/legalna-bron.pl-desktop.jpg";
import legalnaBronPlMobile from "../assets/img/portfolio-projects-component/legalna-bron.pl-mobile.jpg";
import mawooPlDesktop from "../assets/img/portfolio-projects-component/mawoo.pl-desktop.jpg";
import mawooPlMobile from "../assets/img/portfolio-projects-component/mawoo.pl-mobile.jpg";
import pfefferspraylegalDeDesktop from "../assets/img/portfolio-projects-component/pfefferspraylegal.de-desktop.jpg";
import pfefferspraylegalDeMobile from "../assets/img/portfolio-projects-component/pfefferspraylegal.de-mobile.jpg";
import poradyDetektywistycznePlDesktop from "../assets/img/portfolio-projects-component/porady-detektywistyczne.pl-desktop.jpg";
import poradyDetektywistycznePlMobile from "../assets/img/portfolio-projects-component/porady-detektywistyczne.pl-mobile.jpg";
import promillerechnerOnlineDeDesktop from "../assets/img/portfolio-projects-component/promillerechner-online.de-desktop.jpg";
import promillerechnerOnlineDeMobile from "../assets/img/portfolio-projects-component/promillerechner-online.de-mobile.jpg";
import samoobronadlakobietEduPlDesktop from "../assets/img/portfolio-projects-component/samoobronadlakobiet.edu.pl-desktop.jpg";
import samoobronadlakobietEduPlMobile from "../assets/img/portfolio-projects-component/samoobronadlakobiet.edu.pl-mobile.jpg";
import skutecznaSamoobronaPlDesktop from "../assets/img/portfolio-projects-component/skuteczna-samoobrona.pl-desktop.jpg";
import skutecznaSamoobronaPlMobile from "../assets/img/portfolio-projects-component/skuteczna-samoobrona.pl-mobile.jpg";
import spyshopPlDesktop from "../assets/img/portfolio-projects-component/spyshop.pl-desktop.jpg";
import spyshopPlMobile from "../assets/img/portfolio-projects-component/spyshop.pl-mobile.jpg";
import systemyReiPlDesktop from "../assets/img/portfolio-projects-component/systemy-rei.pl-desktop.jpg";
import systemyReiPlMobile from "../assets/img/portfolio-projects-component/systemy-rei.pl-mobile.jpg";
import wirtualnyalkomatonlinePlDesktop from "../assets/img/portfolio-projects-component/wirtualnyalkomatonline.pl-desktop.jpg";
import wirtualnyalkomatonlinePlMobile from "../assets/img/portfolio-projects-component/wirtualnyalkomatonline.pl-mobile.jpg";
import wykrywaczeGarrettPlDesktop from "../assets/img/portfolio-projects-component/wykrywacze-garrett.pl-desktop.jpg";
import wykrywaczeGarrettPlMobile from "../assets/img/portfolio-projects-component/wykrywacze-garrett.pl-mobile.jpg";

// Technology icons
import bootstrap from "../assets/img/portfolio-projects-component/technology/bootstrap.png";
import css from "../assets/img/portfolio-projects-component/technology/css3.png";
import html from "../assets/img/portfolio-projects-component/technology/html5.png";
import javascript from "../assets/img/portfolio-projects-component/technology/javascript.png";
import jquery from "../assets/img/portfolio-projects-component/technology/jquery.png";
import sass from "../assets/img/portfolio-projects-component/technology/sass.png";
import vue from "../assets/img/portfolio-projects-component/technology/vue.png";
import wordpress from "../assets/img/portfolio-projects-component/technology/wordpress.png";

// Header icons
import category from "../assets/img/portfolio-projects-component/header/category.svg";
import grid from "../assets/img/portfolio-projects-component/header/grid.svg";
import listing from "../assets/img/portfolio-projects-component/header/listing.svg";
import search from "../assets/img/portfolio-projects-component/header/search.svg";
import desktop from "../assets/img/portfolio-projects-component/header/desktop.svg";
import mobile from "../assets/img/portfolio-projects-component/header/mobile.svg";

export default {
  components: {
    ArticleHeaderComponent,
    LazyLoadingImagesComponent
  },

  name: "PortfolioProjectsComponent",

  data() {
    return {
      article: {
        title: "Wybrane projekty"
      },
      projects: [
        {
          about:
            "Książka Aimeiz - 28 opowiadań z gatunku fantastyki socjologicznej.",
          category: "",
          image: {
            desktop: aimeizPlDesktop,
            mobile: aimeizPlMobile
          },
          link: {
            site: "http://aimeiz.pl/",
            gitlab: ""
          },
          scopeOfWork: "Zakodowanie strony na podstawie projektu graficznego.",
          technology: [
            {
              isActive: true,
              name: "Bootstrap",
              src: bootstrap
            },
            {
              isActive: true,
              name: "CSS3",
              src: css
            },
            {
              isActive: true,
              name: "HTML5",
              src: html
            },
            {
              isActive: false,
              name: "JavaScript",
              src: javascript
            },
            {
              isActive: true,
              name: "jQuery",
              src: jquery
            },
            {
              isActive: false,
              name: "Sass",
              src: sass
            },
            {
              isActive: false,
              name: "Wordpress",
              src: wordpress
            },
            {
              isActive: false,
              name: "Vue.js",
              src: vue
            }
          ],
          title: "Aimeiz",
          visibility: true
        },
        {
          about: "Alkomaty na rynek angielski.",
          category: "",
          image: {
            desktop: breathalyzersShopCoUkDesktop,
            mobile: breathalyzersShopCoUkMobile
          },
          link: {
            site: "http://www.breathalyzers-shop.co.uk/",
            gitlab:
              "https://gitlab.com/mawoo-web-templates/spy-shop/breathalyzers-shop.co.uk"
          },
          scopeOfWork: "Zakodowanie strony na podstawie projektu graficznego.",
          technology: [
            {
              isActive: true,
              name: "Bootstrap",
              src: bootstrap
            },
            {
              isActive: true,
              name: "CSS3",
              src: css
            },
            {
              isActive: true,
              name: "HTML5",
              src: html
            },
            {
              isActive: false,
              name: "JavaScript",
              src: javascript
            },
            {
              isActive: true,
              name: "jQuery",
              src: jquery
            },
            {
              isActive: true,
              name: "Sass",
              src: sass
            },
            {
              isActive: false,
              name: "Wordpress",
              src: wordpress
            },
            {
              isActive: false,
              name: "Vue.js",
              src: vue
            }
          ],
          title: "Breathalyzers Shop",
          visibility: true
        },
        {
          about: "Prosta gra ćwicząca pamięć.",
          category: "",
          image: {
            desktop: forestAnimalsDesktop,
            mobile: forestAnimalsMobile
          },
          link: {
            site: "https://forest-animals.mawoo.pl/",
            gitlab: "https://gitlab.com/mawoo-games/forest-animals"
          },
          scopeOfWork:
            "Zakodowanie strony na podstawie własnego projektu graficznego.",
          technology: [
            {
              isActive: false,
              name: "Bootstrap",
              src: bootstrap
            },
            {
              isActive: true,
              name: "CSS3",
              src: css
            },
            {
              isActive: true,
              name: "HTML5",
              src: html
            },
            {
              isActive: true,
              name: "JavaScript",
              src: javascript
            },
            {
              isActive: false,
              name: "jQuery",
              src: jquery
            },
            {
              isActive: true,
              name: "Sass",
              src: sass
            },
            {
              isActive: false,
              name: "Wordpress",
              src: wordpress
            },
            {
              isActive: true,
              name: "Vue.js",
              src: vue
            }
          ],
          title: "Forest Animals",
          visibility: true
        },
        {
          about: "Kamery z czujnikami ruchu.",
          category: "",
          image: {
            desktop: fotopulapka24PlDesktop,
            mobile: fotopulapka24PlMobile
          },
          link: {
            site: "https://fotopulapka24.pl/",
            gitlab: ""
          },
          scopeOfWork:
            "Stworzenie szablonu Wordpress na podstawie projektu graficznego.",
          technology: [
            {
              isActive: true,
              name: "Bootstrap",
              src: bootstrap
            },
            {
              isActive: true,
              name: "CSS3",
              src: css
            },
            {
              isActive: true,
              name: "HTML5",
              src: html
            },
            {
              isActive: false,
              name: "JavaScript",
              src: javascript
            },
            {
              isActive: true,
              name: "jQuery",
              src: jquery
            },
            {
              isActive: true,
              name: "Sass",
              src: sass
            },
            {
              isActive: true,
              name: "Wordpress",
              src: wordpress
            },
            {
              isActive: false,
              name: "Vue.js",
              src: vue
            }
          ],
          title: "Fotopułapka24",
          visibility: true
        },
        {
          about: "Lokalizatory do monitorowania rowerów.",
          category: "",
          image: {
            desktop: gpsDoRoweruSklepPlDesktop,
            mobile: gpsDoRoweruSklepPlMobile
          },
          link: {
            site: "http://www.gps-do-roweru.sklep.pl/",
            gitlab:
              "https://gitlab.com/mawoo-web-templates/spy-shop/gps-do-roweru.sklep.pl"
          },
          scopeOfWork:
            "Przebudowa strony, zgodnie z nowym projektem graficznym.",
          technology: [
            {
              isActive: true,
              name: "Bootstrap",
              src: bootstrap
            },
            {
              isActive: true,
              name: "CSS3",
              src: css
            },
            {
              isActive: true,
              name: "HTML5",
              src: html
            },
            {
              isActive: false,
              name: "JavaScript",
              src: javascript
            },
            {
              isActive: true,
              name: "jQuery",
              src: jquery
            },
            {
              isActive: true,
              name: "Sass",
              src: sass
            },
            {
              isActive: false,
              name: "Wordpress",
              src: wordpress
            },
            {
              isActive: false,
              name: "Vue.js",
              src: vue
            }
          ],
          title: "GPS do roweru",
          visibility: true
        },
        {
          about: "Serwis i naprawa alkomatów.",
          category: "",
          image: {
            desktop: kalibracjaAlkomatuPlDesktop,
            mobile: kalibracjaAlkomatuPlMobile
          },
          link: {
            site: "https://www.kalibracja-alkomatu.pl/",
            gitlab:
              "https://gitlab.com/mawoo-web-templates/spy-shop/kalibracja-alkomatu.pl"
          },
          scopeOfWork: "Zakodowanie strony na podstawie projektu graficznego.",
          technology: [
            {
              isActive: true,
              name: "Bootstrap",
              src: bootstrap
            },
            {
              isActive: true,
              name: "CSS3",
              src: css
            },
            {
              isActive: true,
              name: "HTML5",
              src: html
            },
            {
              isActive: false,
              name: "JavaScript",
              src: javascript
            },
            {
              isActive: true,
              name: "jQuery",
              src: jquery
            },
            {
              isActive: true,
              name: "Sass",
              src: sass
            },
            {
              isActive: false,
              name: "Wordpress",
              src: wordpress
            },
            {
              isActive: false,
              name: "Vue.js",
              src: vue
            }
          ],
          title: "Kalibracja alkomatu",
          visibility: true
        },
        {
          about:
            "Wykrywanie materiałów wybuchowych, narkotyków, substancji chemicznych.",
          category: "",
          image: {
            desktop: laserDetectCoUkDesktop,
            mobile: laserDetectCoUkMobile
          },
          link: {
            site: "http://laser-detect.co.uk/",
            gitlab:
              "https://gitlab.com/mawoo-web-templates/spy-shop/laser-detect.co.uk"
          },
          scopeOfWork: "Zakodowanie strony na podstawie projektu graficznego.",
          technology: [
            {
              isActive: true,
              name: "Bootstrap",
              src: bootstrap
            },
            {
              isActive: true,
              name: "CSS3",
              src: css
            },
            {
              isActive: true,
              name: "HTML5",
              src: html
            },
            {
              isActive: false,
              name: "JavaScript",
              src: javascript
            },
            {
              isActive: true,
              name: "jQuery",
              src: jquery
            },
            {
              isActive: true,
              name: "Sass",
              src: sass
            },
            {
              isActive: false,
              name: "Wordpress",
              src: wordpress
            },
            {
              isActive: false,
              name: "Vue.js",
              src: vue
            }
          ],
          title: "Laser Detect",
          visibility: true
        },
        {
          about:
            "Informacje dotyczące cen broni, pozwolenia na broń i myślistwa.",
          category: "",
          image: {
            desktop: legalnaBronPlDesktop,
            mobile: legalnaBronPlMobile
          },
          link: {
            site: "http://legalna-bron.pl/",
            gitlab: ""
          },
          scopeOfWork:
            "Przebudowa strony głównej oraz podstron, zgodnie z nowym projektem graficznym.",
          technology: [
            {
              isActive: false,
              name: "Bootstrap",
              src: bootstrap
            },
            {
              isActive: true,
              name: "CSS3",
              src: css
            },
            {
              isActive: true,
              name: "HTML5",
              src: html
            },
            {
              isActive: false,
              name: "JavaScript",
              src: javascript
            },
            {
              isActive: true,
              name: "jQuery",
              src: jquery
            },
            {
              isActive: true,
              name: "Sass",
              src: sass
            },
            {
              isActive: true,
              name: "Wordpress",
              src: wordpress
            },
            {
              isActive: false,
              name: "Vue.js",
              src: vue
            }
          ],
          title: "Legalna Broń",
          visibility: true
        },
        {
          about: "Moja strona internetowa.",
          category: "",
          image: {
            desktop: mawooPlDesktop,
            mobile: mawooPlMobile
          },
          link: {
            site: "https://mawoo.pl/",
            gitlab: "https://gitlab.com/mawoo-web-templates/mawoo"
          },
          scopeOfWork:
            "Zakodowanie strony na podstawie własnego projektu graficznego.",
          technology: [
            {
              isActive: true,
              name: "Bootstrap",
              src: bootstrap
            },
            {
              isActive: true,
              name: "CSS3",
              src: css
            },
            {
              isActive: true,
              name: "HTML5",
              src: html
            },
            {
              isActive: true,
              name: "JavaScript",
              src: javascript
            },
            {
              isActive: false,
              name: "jQuery",
              src: jquery
            },
            {
              isActive: true,
              name: "Sass",
              src: sass
            },
            {
              isActive: false,
              name: "Wordpress",
              src: wordpress
            },
            {
              isActive: true,
              name: "Vue.js",
              src: vue
            }
          ],
          title: "Mawoo",
          visibility: true
        },
        {
          about: "Informacje dotyczące gazów papieprzowych na rynek niemiecki.",
          category: "",
          image: {
            desktop: pfefferspraylegalDeDesktop,
            mobile: pfefferspraylegalDeMobile
          },
          link: {
            site: "http://www.pfefferspraylegal.de/",
            gitlab:
              "https://gitlab.com/mawoo-web-templates/spy-shop/pfefferspraylegal.de"
          },
          scopeOfWork: "Zakodowanie strony na podstawie projektu graficznego.",
          technology: [
            {
              isActive: true,
              name: "Bootstrap",
              src: bootstrap
            },
            {
              isActive: true,
              name: "CSS3",
              src: css
            },
            {
              isActive: true,
              name: "HTML5",
              src: html
            },
            {
              isActive: false,
              name: "JavaScript",
              src: javascript
            },
            {
              isActive: true,
              name: "jQuery",
              src: jquery
            },
            {
              isActive: true,
              name: "Sass",
              src: sass
            },
            {
              isActive: false,
              name: "Wordpress",
              src: wordpress
            },
            {
              isActive: false,
              name: "Vue.js",
              src: vue
            }
          ],
          title: "Pfefferspray legal",
          visibility: true
        },
        {
          about: "Portal o usługach detektywistycznych.",
          category: "",
          image: {
            desktop: poradyDetektywistycznePlDesktop,
            mobile: poradyDetektywistycznePlMobile
          },
          link: {
            site: "https://porady-detektywistyczne.pl/",
            gitlab: ""
          },
          scopeOfWork:
            "Przebudowa strony głównej oraz podstron, zgodnie z nowym projektem graficznym.",
          technology: [
            {
              isActive: false,
              name: "Bootstrap",
              src: bootstrap
            },
            {
              isActive: true,
              name: "CSS3",
              src: css
            },
            {
              isActive: true,
              name: "HTML5",
              src: html
            },
            {
              isActive: true,
              name: "JavaScript",
              src: javascript
            },
            {
              isActive: true,
              name: "jQuery",
              src: jquery
            },
            {
              isActive: true,
              name: "Sass",
              src: sass
            },
            {
              isActive: true,
              name: "Wordpress",
              src: wordpress
            },
            {
              isActive: false,
              name: "Vue.js",
              src: vue
            }
          ],
          title: "Porady detektywistyczne",
          visibility: true
        },
        {
          about: "Wirtualny alkomat na rynek niemiecki.",
          category: "",
          image: {
            desktop: promillerechnerOnlineDeDesktop,
            mobile: promillerechnerOnlineDeMobile
          },
          link: {
            site: "http://www.promillerechner-online.de/",
            gitlab:
              "https://gitlab.com/mawoo-web-templates/spy-shop/promillerechner-online.de"
          },
          scopeOfWork: "Zakodowanie strony na podstawie projektu graficznego.",
          technology: [
            {
              isActive: true,
              name: "Bootstrap",
              src: bootstrap
            },
            {
              isActive: true,
              name: "CSS3",
              src: css
            },
            {
              isActive: true,
              name: "HTML5",
              src: html
            },
            {
              isActive: false,
              name: "JavaScript",
              src: javascript
            },
            {
              isActive: true,
              name: "jQuery",
              src: jquery
            },
            {
              isActive: true,
              name: "Sass",
              src: sass
            },
            {
              isActive: false,
              name: "Wordpress",
              src: wordpress
            },
            {
              isActive: false,
              name: "Vue.js",
              src: vue
            }
          ],
          title: "Promillerechner online",
          visibility: true
        },
        {
          about: "Zagadnienia obrony koniecznej dla kobiet.",
          category: "",
          image: {
            desktop: samoobronadlakobietEduPlDesktop,
            mobile: samoobronadlakobietEduPlMobile
          },
          link: {
            site: "http://www.samoobronadlakobiet.edu.pl/",
            gitlab:
              "https://gitlab.com/mawoo-web-templates/spy-shop/samoobronadlakobiet.edu.pl"
          },
          scopeOfWork: "Zakodowanie strony na podstawie projektu graficznego.",
          technology: [
            {
              isActive: true,
              name: "Bootstrap",
              src: bootstrap
            },
            {
              isActive: true,
              name: "CSS3",
              src: css
            },
            {
              isActive: true,
              name: "HTML5",
              src: html
            },
            {
              isActive: false,
              name: "JavaScript",
              src: javascript
            },
            {
              isActive: true,
              name: "jQuery",
              src: jquery
            },
            {
              isActive: true,
              name: "Sass",
              src: sass
            },
            {
              isActive: false,
              name: "Wordpress",
              src: wordpress
            },
            {
              isActive: false,
              name: "Vue.js",
              src: vue
            }
          ],
          title: "Samoobrona dla kobiet",
          visibility: true
        },
        {
          about:
            "Zagadnienia dotyczące obrony koniecznej i legalności samoobrony.",
          category: "",
          image: {
            desktop: skutecznaSamoobronaPlDesktop,
            mobile: skutecznaSamoobronaPlMobile
          },
          link: {
            site: "https://skuteczna-samoobrona.pl/",
            gitlab: ""
          },
          scopeOfWork:
            "Przebudowa strony głównej oraz podstron, zgodnie z nowym projektem graficznym.",
          technology: [
            {
              isActive: false,
              name: "Bootstrap",
              src: bootstrap
            },
            {
              isActive: true,
              name: "CSS3",
              src: css
            },
            {
              isActive: true,
              name: "HTML5",
              src: html
            },
            {
              isActive: false,
              name: "JavaScript",
              src: javascript
            },
            {
              isActive: true,
              name: "jQuery",
              src: jquery
            },
            {
              isActive: true,
              name: "Sass",
              src: sass
            },
            {
              isActive: true,
              name: "Wordpress",
              src: wordpress
            },
            {
              isActive: false,
              name: "Vue.js",
              src: vue
            }
          ],
          title: "Skuteczna samoobrona",
          visibility: true
        },
        {
          about: "Sklep internetowy ze specjalistycznym sprzętem szpiegowskim.",
          category: "",
          image: {
            desktop: spyshopPlDesktop,
            mobile: spyshopPlMobile
          },
          link: {
            site: "https://www.spyshop.pl/",
            gitlab: ""
          },
          scopeOfWork:
            "Przebudowa strony głównej oraz podstron, zgodnie z nowym projektem graficznym.",
          technology: [
            {
              isActive: false,
              name: "Bootstrap",
              src: bootstrap
            },
            {
              isActive: true,
              name: "CSS3",
              src: css
            },
            {
              isActive: true,
              name: "HTML5",
              src: html
            },
            {
              isActive: false,
              name: "JavaScript",
              src: javascript
            },
            {
              isActive: true,
              name: "jQuery",
              src: jquery
            },
            {
              isActive: false,
              name: "Sass",
              src: sass
            },
            {
              isActive: false,
              name: "Wordpress",
              src: wordpress
            },
            {
              isActive: false,
              name: "Vue.js",
              src: vue
            }
          ],
          title: "Spy Shop",
          visibility: true
        },
        {
          about: "Profesjonalne wykrywacze podsłuchów.",
          category: "",
          image: {
            desktop: systemyReiPlDesktop,
            mobile: systemyReiPlMobile
          },
          link: {
            site: "http://systemy-rei.pl/",
            gitlab:
              "https://gitlab.com/mawoo-web-templates/spy-shop/systemy-rei.pl"
          },
          scopeOfWork: "Zakodowanie strony na podstawie projektu graficznego.",
          technology: [
            {
              isActive: true,
              name: "Bootstrap",
              src: bootstrap
            },
            {
              isActive: true,
              name: "CSS3",
              src: css
            },
            {
              isActive: true,
              name: "HTML5",
              src: html
            },
            {
              isActive: false,
              name: "JavaScript",
              src: javascript
            },
            {
              isActive: true,
              name: "jQuery",
              src: jquery
            },
            {
              isActive: true,
              name: "Sass",
              src: sass
            },
            {
              isActive: false,
              name: "Wordpress",
              src: wordpress
            },
            {
              isActive: false,
              name: "Vue.js",
              src: vue
            }
          ],
          title: "Systemy REI",
          visibility: true
        },
        {
          about: "Wirtualny alkomat na rynek polski.",
          category: "",
          image: {
            desktop: wirtualnyalkomatonlinePlDesktop,
            mobile: wirtualnyalkomatonlinePlMobile
          },
          link: {
            site: "https://www.wirtualnyalkomatonline.pl/",
            gitlab:
              "https://gitlab.com/mawoo-web-templates/spy-shop/wirtualnyalkomatonline.pl"
          },
          scopeOfWork:
            "Przebudowa strony zgodnie z nowym projektem graficznym, napisanie kalkulatora promili.",
          technology: [
            {
              isActive: true,
              name: "Bootstrap",
              src: bootstrap
            },
            {
              isActive: true,
              name: "CSS3",
              src: css
            },
            {
              isActive: true,
              name: "HTML5",
              src: html
            },
            {
              isActive: false,
              name: "JavaScript",
              src: javascript
            },
            {
              isActive: true,
              name: "jQuery",
              src: jquery
            },
            {
              isActive: true,
              name: "Sass",
              src: sass
            },
            {
              isActive: false,
              name: "Wordpress",
              src: wordpress
            },
            {
              isActive: false,
              name: "Vue.js",
              src: vue
            }
          ],
          title: "Wirtualny alkomat online",
          visibility: true
        },
        {
          about: "Ręczne detektory i bramki do wykrywania metali.",
          category: "",
          image: {
            desktop: wykrywaczeGarrettPlDesktop,
            mobile: wykrywaczeGarrettPlMobile
          },
          link: {
            site: "http://wykrywacze-garrett.pl/",
            gitlab:
              "https://gitlab.com/mawoo-web-templates/spy-shop/wykrywacze-garrett.pl"
          },
          scopeOfWork: "Zakodowanie strony na podstawie projektu graficznego.",
          technology: [
            {
              isActive: true,
              name: "Bootstrap",
              src: bootstrap
            },
            {
              isActive: true,
              name: "CSS3",
              src: css
            },
            {
              isActive: true,
              name: "HTML5",
              src: html
            },
            {
              isActive: false,
              name: "JavaScript",
              src: javascript
            },
            {
              isActive: true,
              name: "jQuery",
              src: jquery
            },
            {
              isActive: true,
              name: "Sass",
              src: sass
            },
            {
              isActive: false,
              name: "Wordpress",
              src: wordpress
            },
            {
              isActive: false,
              name: "Vue.js",
              src: vue
            }
          ],
          title: "Wykrywacze Garrett",
          visibility: true
        }
      ],
      header: {
        icons: {
          category: {
            isActive: false,
            url: category
          },
          grid: {
            isActive: true,
            url: grid
          },
          listing: {
            isActive: false,
            url: listing
          },
          search: search,
          desktop: {
            isActive: true,
            url: desktop
          },
          mobile: {
            isActive: false,
            url: mobile
          }
        }
      },
      viewSettings: {
        device: "desktop", // desktop, mobile
        layout: "grid" // grid, listing
      },
      search: "",
      nothingFound: false,
      scrollEventTimeStamp: 0
    };
  },

  computed: {
    isComponentActive() {
      if (this.$route.name === "portfolio-projects") {
        return true;
      } else {
        return false;
      }
    }
  },

  methods: {
    setViewForThumbnail(event) {
      var desktop = this.header.icons.desktop;
      var mobile = this.header.icons.mobile;
      var device = event.target.dataset.thumbnailView;
      this.viewSettings.device = device;

      if (device === "desktop" && !desktop.isActive) {
        desktop.isActive = !desktop.isActive;
        mobile.isActive = !mobile.isActive;
      } else if (device === "mobile" && !mobile.isActive) {
        mobile.isActive = !mobile.isActive;
        desktop.isActive = !desktop.isActive;
      }
    },

    setViewForLayout(event) {
      var grid = this.header.icons.grid;
      var listing = this.header.icons.listing;
      var layout = event.target.dataset.layoutView;
      this.viewSettings.layout = layout;

      if (layout === "grid" && !grid.isActive) {
        grid.isActive = !grid.isActive;
        listing.isActive = !listing.isActive;
      } else if (layout === "listing" && !listing.isActive) {
        listing.isActive = !listing.isActive;
        grid.isActive = !grid.isActive;
      }
    },

    setViewAfterSearch(str) {
      let projectsArray = this.projects;
      let projectsArrayLength = projectsArray.length;

      if (str.length >= 3) {
        let pattern = new RegExp(str, "i");
        let nothingFoundCounter = 0;

        for (let i = 0; i < projectsArrayLength; i++) {
          const element = projectsArray[i];

          if (pattern.test(element.title)) {
            element.visibility = true;
          } else {
            if (pattern.test(element.about)) {
              element.visibility = true;
            } else {
              element.visibility = false;
              nothingFoundCounter++;
            }
          }
        }

        if (nothingFoundCounter === projectsArrayLength) {
          this.nothingFound = true;
        } else {
          this.nothingFound = false;
        }
      } else {
        for (let i = 0; i < projectsArrayLength; i++) {
          const element = projectsArray[i];

          element.visibility = true;
        }

        this.nothingFound = false;
      }
    },

    // Scroll event for lazy loading images
    lazyloadingScrollEvent() {
      const portfolioProjectsSection = this.$refs.portfolioProjects;
      const reference = this;
      let setTimeStamp;

      portfolioProjectsSection.addEventListener(
        "scroll",
        event => {
          window.clearTimeout(setTimeStamp);

          setTimeStamp = setTimeout(function() {
            reference.scrollEventTimeStamp = event.timeStamp;
          }, 66);
        },
        false
      );
    }
  },

  mounted() {
    this.lazyloadingScrollEvent();
  },

  watch: {
    search() {
      this.setViewAfterSearch(this.search);
    }
  }
};
</script>

<style lang="scss">
/* Styles */
@import "../assets/scss/styles.scss";

.projects {
  &__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 1rem 0;
    @include media-breakpoint-up(sm) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__category {
    display: none;
    @include media-breakpoint-up(sm) {
      /* display: initial; */
      display: none;
    }
  }
  &__search {
    @include media-breakpoint-up(sm) {
    }
    &-input {
      background-image: url("../assets/img/portfolio-projects-component/header/search.svg");
      background-position: 9rem center;
      background-repeat: no-repeat;
      background-size: 2rem;
      font-size: 0.9rem;
      padding: 0.5rem 0;
      border-left-width: 0;
      border-right-width: 0;
      border-top-width: 0;
      background-color: transparent;
      border-bottom: 1px solid $dark;
    }
  }
  &__view {
    display: none;
    @include media-breakpoint-up(sm) {
      display: initial;
    }
    &-button {
      background-color: transparent;
      background-position-x: center;
      background-position-y: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      border-width: 0;
      cursor: pointer;
      height: 2rem;
      outline-width: 0 !important;
      padding: 0 0.5rem;
      transition-duration: 0.6s;
      transition-property: background-position-y;
      transition-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
      width: 2rem;
      &_active {
        background-position-y: 0%;
      }
    }
  }
  &__items {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0 -1rem;
    padding: 0;
    @include media-breakpoint-up(sm) {
      display: flex;
    }
    &_grid {
      @include media-breakpoint-up(sm) {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
    &_listing {
      @include media-breakpoint-up(sm) {
        flex-direction: column;
      }
    }
  }
  &__column {
    margin-bottom: 2rem;
    overflow: hidden;
    padding: 0 1rem;
    .projects__items_grid & {
      @include media-breakpoint-up(sm) {
        flex: 0 1 50%;
      }
      @include media-breakpoint-up(lg) {
        flex: 0 1 33.33333%;
      }
      @include media-breakpoint-up(xl) {
        flex: 0 1 25%;
      }
    }
    .projects__items_listing & {
      @include media-breakpoint-up(sm) {
        flex: 0 1 100%;
      }
    }
  }
  &__item {
    background-color: $white;
    border-radius: 2px;
    padding: 0.5rem;
    @include media-breakpoint-up(sm) {
      height: 100%;
      padding-bottom: 4rem;
      position: relative;
    }
    .projects__items_listing & {
      @include media-breakpoint-up(sm) {
        display: flex;
        padding-bottom: 0.5rem;
      }
    }
    &-image {
      img {
        display: block;
        height: auto;
        margin: 0 auto;
        max-width: 100%;
      }
      .projects__items_listing & {
        @include media-breakpoint-up(sm) {
          flex: 0 1 50%;
        }
      }
    }
    &-description {
      padding: 1rem 0.5rem 0;
      .projects__items_listing & {
        @include media-breakpoint-up(sm) {
          flex: 0 1 50%;
          padding: 1rem 2rem 4rem 2rem;
          position: relative;
        }
      }
    }
    &-about {
      font-weight: 300;
    }
    &-scope {
      font-size: 14px;
      span {
        display: block;
        font-weight: 800;
      }
    }
    &-technology {
      background-color: $color-1;
      padding: 1rem;
      @include media-breakpoint-up(sm) {
        bottom: 0.5rem;
        left: 0.5rem;
        position: absolute;
        right: 0.5rem;
      }
      .projects__items_listing & {
        @include media-breakpoint-up(sm) {
          bottom: 0;
          left: 2rem;
          right: 0;
        }
      }
      img {
        display: inline-block;
        margin-right: 1rem;
        vertical-align: middle;
        width: 1rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
</style>
