<template>
  <header class="app__header">
    <nav :class="['navbar', { 'navbar_active': !isIntroComponentActive }]">
      <div class="navbar__header">

        <!-- Toggle button -->
        <button
          @click="toggleMenu()"
          :class="['navbar__toggler', { 'navbar__toggler_active' : menuIsActive }]"
          type="button"
          aria-label="Przełącz menu"
        >
          <span class="navbar__toggler-icon"></span>
          <span class="navbar__toggler-icon"></span>
          <span class="navbar__toggler-icon"></span>
        </button>

        <!-- Logo -->
        <logo-component :logoConfig="logoConfig"></logo-component>
      </div>

      <!-- Menu -->
      <ul :class="['navbar__menu', { 'navbar__menu_active' : menuIsActive }]">
        <li
          v-for="(page, pageIndex) in this.$router.options.routes"
          :key="pageIndex"
          class="navbar__menu-item"
        >
          <router-link
            :to="page.path"
            @click.native="toggleMenuAfterClickMenuItem()"
            class="navbar__menu-link"
            active-class="navbar__menu-link_active"
            exact-active-class=""
            exact
            ref="navbarMenuLink"
          >
            <span class="navbar__menu-link_image">
              <img
                :src="menuIcons[page.menu.icon]"
                :alt="page.menu.title"
              >
            </span>
            <span class="navbar__menu-link_title">{{ page.menu.title }}</span>
          </router-link>

          <!-- Submenu -->
          <ul
            v-if="page.children"
            class="navbar__submenu"
            ref="navbarSubmenu"
          >
            <li
              v-for="(subpage, subpageIndex) in page.children"
              :key="subpageIndex"
              class="navbar__submenu-item"
            >
              <router-link
                :to="page.path + '/' + subpage.path"
                @click.native="toggleMenuAfterClickMenuItem()"
                class="navbar__submenu-link"
                active-class="navbar__submenu-link_active"
                exact-active-class=""
                exact
              >
                {{ subpage.menu.title }}
              </router-link>
            </li>
          </ul>
        </li>
      </ul>
      <ul
        v-if="socialMenu"
        class="navbar__social-menu"
      >
        <li
          v-for="(socialItem, socialIndex) in socialMenu"
          :key="socialIndex"
          class="navbar__social-menu__item"
        >
          <a
            :href="socialItem.url"
            :title="socialItem.name"
            class="navbar__social-menu__link"
          >
            <img
              :src="socialItem.src"
              :alt="socialItem.name"
              class="navbar__social-menu__icon"
            >
          </a>
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import LogoComponent from "../components/LogoComponent";

// Social menu
import gitlab from "../assets/img/icons/gitlab.png";

export default {
  components: {
    LogoComponent
  },

  name: "HeaderComponent",

  data() {
    return {
      logoConfig: {
        color: {
          mobile: "light", // light, dark
          desktop: "light" // light, dark
        },
        image: {
          width: 2 // rem
        },
        isAnimate: true, // Boolean (It works only in menu)
        link: {
          isActive: true, // Boolean
          url: "/" // url
        }
      },
      socialMenu: [
        {
          name: "GitLab",
          src: gitlab,
          url: "https://gitlab.com/mawoo"
        }
      ]
    };
  },

  computed: {
    ...mapGetters({
      menuIsActive: "menu/getActivity",
      menuIcons: "menu/getIcons",
      screenType: "screen/getType"
    }),

    isIntroComponentActive() {
      if (this.$route.name === "intro") {
        return true;
      } else {
        return false;
      }
    }
  },

  methods: {
    ...mapActions({
      menuChangeActivityCommit: "menu/changeActivityCommit"
    }),

    toggleMenu() {
      this.menuChangeActivityCommit();
    },

    toggleMenuAfterClickMenuItem() {
      if (this.screenType === "mobile" && this.menuIsActive) {
        this.toggleMenu();
      }
    }
  }
};
</script>

<style lang="scss">
/* Styles */
@import "../assets/scss/styles.scss";

.navbar {
  position: relative;
  @include media-breakpoint-up(md) {
    background-color: $color-7;
    height: 100%;
  }
  &__header {
    align-items: center;
    background-color: $dark;
    box-shadow: 0 1px 3px rgba($dark, 0.8);
    display: flex;
    height: 3rem;
    justify-content: center;
    left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    position: fixed;
    right: 0;
    transform: translateY(-100%);
    transition-duration: 0.6s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
    z-index: 11;
    @include media-breakpoint-up(md) {
      box-shadow: none;
      height: 5rem;
      position: relative;
      transform: translateY(0%);
    }
    .navbar_active & {
      transform: translateY(0%);
    }
  }
  &__toggler {
    background-color: transparent;
    border-width: 0;
    bottom: 0;
    cursor: pointer;
    height: 1.5rem;
    left: 1.5rem;
    margin: auto 0;
    padding: 0;
    position: absolute;
    top: 0;
    transition-duration: 0.6s;
    transition-property: left, transform;
    transition-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
    width: 1.5rem;
    @include media-breakpoint-up(md) {
      bottom: auto;
      left: 50%;
      margin: 0;
      top: 6rem;
      transform: translateX(-50%);
    }
    &:focus {
      outline-width: 0;
    }
    &_active {
      transform: rotate(180deg);
      @include media-breakpoint-up(md) {
        transform: translateX(-50%) rotate(180deg);
      }
    }
    &-icon {
      background-color: $white;
      display: block;
      height: 1px;
      transition-duration: 0.6s;
      transition-property: transform;
      transition-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
      @include media-breakpoint-up(md) {
        background-color: $white;
      }
      &:nth-child(1) {
        transform: translateY(-6px);
        .navbar__toggler_active & {
          transform: translateY(1px) rotate(45deg);
        }
      }
      &:nth-child(2) {
        .navbar__toggler_active & {
          transform: scale(0);
        }
      }
      &:nth-child(3) {
        transform: translateY(6px);
        .navbar__toggler_active & {
          transform: translateY(-1px) rotate(-45deg);
        }
      }
    }
  }
  .logo {
    font-size: 1.2rem;
    @include media-breakpoint-up(md) {
      font-size: 1.4rem;
    }
  }
  &__menu {
    background-color: $color-7;
    bottom: 0;
    left: 0;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 2rem 1.5rem 0;
    position: fixed;
    top: 3rem;
    transform: translateX(-100%);
    transition-duration: 0.6s;
    transition-property: transform, width;
    transition-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
    z-index: 10;
    @include media-breakpoint-up(md) {
      overflow: hidden;
      padding: 3rem 1.5rem 0;
      position: relative;
      top: 0;
      transform: translateX(0%);
      width: 4.5rem;
    }
    &_active {
      transform: translateX(0%);
      @include media-breakpoint-up(md) {
        width: 14rem;
      }
    }
    &-link {
      align-items: center;
      color: $white;
      display: block;
      font-size: 14px;
      font-weight: 800;
      padding-bottom: 0.8rem;
      padding-top: 0.8rem;
      text-transform: uppercase;
      white-space: nowrap;
      &:hover {
        color: $white;
        text-decoration: none;
      }
      &_active {
        color: $danger;
        &:hover {
          color: $danger;
        }
      }
      &_image,
      &_title {
        display: inline-block;
        vertical-align: middle;
      }
      &_image {
        height: 1.5rem;
        overflow: hidden;
        width: 1.5rem;
        img {
          transform: translateY(-50%);
          transition-duration: 0.6s;
          transition-property: transform;
          transition-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
          .navbar__menu-link_active & {
            transform: translateY(0%);
          }
        }
      }
      &_title {
        margin-left: 1.5rem;
      }
    }
  }
  &__submenu {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding-left: 3.2rem;
    @include media-breakpoint-up(md) {
      height: 0;
      overflow: hidden;
    }
    .navbar__menu_active & {
      @include media-breakpoint-up(md) {
        height: auto;
      }
    }
    &-item {
      position: relative;
      &::before,
      &::after {
        content: "";
        left: -41px;
        position: absolute;
      }
      &::before {
        border-right: 1px solid lighten($color-7, 15%);
        height: 50%;
        top: 0;
        width: 0;
      }
      &::after {
        border-bottom: 1px solid lighten($color-7, 15%);
        height: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
      }
      &:nth-child(n + 2) {
        &::before {
          height: 95%;
          top: 50%;
          transform: translateY(-100%);
        }
      }
    }
    &-link {
      color: $white;
      display: block;
      font-size: 13px;
      padding: 0.5rem 0;
      white-space: nowrap;
      &:hover {
        color: $white;
        text-decoration: none;
      }
      &_active {
        color: $danger;
        &:hover {
          color: $danger;
        }
      }
    }
  }

  /* Social menu */
  &__social-menu {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 11px 0;
    position: absolute;
    right: 1.5rem;
    top: 0;
    transform: translateY(-100%);
    transition-duration: 0.6s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
    z-index: 11;
    .navbar_active & {
      transform: translateY(0%);
    }
    @include media-breakpoint-up(md) {
      background-color: $dark;
      bottom: 0;
      left: 0;
      padding: 1rem 0;
      right: 0;
      top: auto;
      transform: translateY(0%);
    }
    &__link {
      display: block;
      text-align: center;
    }
  }
}
</style>
